// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};
$base-color: #{"@theme_base_color"};

window.Bar {
  background: transparent;
  color: $fg-color;
  font-weight: bold;
  padding: 4px;

  > centerbox {
    background: $bg-color;
    border-radius: 10px;
    padding: 4px;
  }
}

.workspaces {
  background: $base-color;
  border-radius: 10px;
  padding: 4px;

  .workspace {
    border-radius: 10px;
    font-size: 14px;
    color: black;
    font-weight: bold;
    padding: 0 6px;
    margin: 0;
    cursor: pointer;
    background: transparent;
  }

  .active {
    background: red;
    border-radius: 10px;
    transform: translateX(var(--move));
    transition: transform 300ms ease-in-out;
  }
}
