// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};
$base-color: #{"@theme_base_color"};

window.Bar {
  background: transparent;
  color: $fg-color;
  font-weight: bold;

  > centerbox {
    background: $bg-color;
    border-radius: 10px;
    margin: 8px;

    .workspaces {
      background: $base-color;
      border-radius: 10px;
      margin: 5px;

      .workspace {
        background: transparent;
        padding: 5px;
      }
    }
  }
}
