// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
@use "./focus.scss";
@use "./media.scss";
@use "./workspaces.scss";

$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

window.Bar {
  background: transparent;
  color: $fg-color;
  font-weight: bold;
  padding: 4px;

  > centerbox {
    background: $bg-color;
    border-radius: 10px;
    padding: 4px;
  }
}
