$insensitive-bg-color: #{"@insensitive_bg_color"};
//$text-color: #{"@theme_text_color"};
$text-color: white;
$accent-color: #{"@accent_bg_color"};

.media {
  background: $insensitive-bg-color;
  border-radius: 10px;
  margin-left: 4px;

  label {
    font-size: 12px;
    color: $text-color;
    font-weight: normal;
  }

  button {
    background: transparent;
    min-height: 8px;
    min-width: 28px;
    border-radius: 20px;
    padding: 0;
    margin: 0;
  }

  .media-play {
    background: $accent-color;
  }

  .media-bar {
    min-width: 2px;
    min-height: 2px;
    background: red;
    margin-right: 2px;
  }

  .spacer {
    color: $text-color;
    margin: 0 4px;
  }
}
