$insensitive-bg-color: #{"@insensitive_bg_color"};
//$text-color: #{"@theme_text_color"};
$text-color: white;
$accent-color: #{"@accent_bg_color"};

.workspaces {
  background: $insensitive-bg-color;
  border-radius: 10px;
  padding: 4px;

  .workspace {
    font-size: 12px;
    color: $text-color;
    padding: 0;
    margin: 0;
    background: transparent;
    min-height: 8px;
    min-width: var(--width);
    transition: min-width 300ms ease-in-out;
  }

  .active {
    background: $accent-color;
    border-radius: 10px;
    min-width: var(--width);
    transform: translateX(var(--move));
    transition: transform 300ms ease-in-out, min-width 300ms ease-in-out;
  }

  .special {
    background: transparent;
    border-radius: 10px;
    font-size: 12px;
    color: $text-color;
    font-weight: normal;
    transition: background 200ms, opacity 200ms;
    min-height: 8px;
    padding: 0;
  }

  .special-active {
    background: $accent-color;
    opacity: 0.9;
  }
}
